body { width: 100%; height: 100%; margin:0; background-color: rgb(54, 54, 54); }
a { text-decoration: none; color: white; }
#wrapper { width: 270px; margin: 25px auto; height: 520px; overflow: hidden; }
#wrapper .column-1 { float: left; width: 130px; height:100%; }
#wrapper .column-2 { float: right; width: 130px; height:100%; }

#wrapper .column a { position: relative; height: 100px; display: block; width: 100%; margin-bottom: 10px; background-color: rgba(50, 190, 240, 0.9);}
#wrapper .column h4 { position: absolute; left:0; width: 100%; margin:0; bottom: 20px; text-align: center; }

#wrapper .column a#anli { height: 230px; background: rgb(6, 156, 216) url(img/bg-icon-1.png) center 70px no-repeat; }
#wrapper .column a#lingbujian { height: 190px; background: rgba(0, 201, 72, 0.9) url(img/bg-icon-3.png) center 40px no-repeat;}
#wrapper .column a#ucenter { height: 80px; margin-bottom: 0px; background: rgba(229, 229, 229, 0.9) url(img/bg-icon-6.png) 3px bottom  no-repeat; color: black; }

#wrapper .column a#ziliao { height:140px; background: rgb(222, 164, 66) url(img/bg-icon-2.png) center 10px no-repeat; }
#wrapper .column a#tech-help { height: 170px; background: rgb(0, 206, 151) url(img/bg-icon-4.png) center 30px no-repeat;}
#wrapper .column a#job { height: 100px; background: rgba(215, 31, 131, 0.9) url(img/bg-icon-5.png) center top no-repeat; }

#wrapper .column a#setting { height: 80px; width:60px; float:left; text-align:center; background-color: rgb(229, 229, 229); color: black; }
#wrapper .column a#about { height: 80px; width:60px; float:right; margin-bottom: 0px; text-align:center; background-color: rgb(229, 229, 229); color: black; }

#wrapper .column a#anli h4{ bottom:65px;}
#wrapper .column a#lingbujian h4{ bottom:50px;}
#wrapper .column a#ucenter h4{ left:15px; bottom:20px;}

#wrapper .column a#ziliao h4{ bottom:30px;}
#wrapper .column a#tech-help h4{ bottom:40px;}
#wrapper .column a#job h4{ bottom:15px;}
#wrapper .column a#setting h4, #wrapper .column a#about h4 { left: 0px; bottom: 20px; }